#sideNav {
  .navbar-brand {}
  .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
  }
  
  // Smooth transitions for navbar collapse on mobile
  .navbar-collapse {
    transition: height 0.35s ease;
    
    &.collapsing {
      transition: height 0.35s ease;
    }
  }
  
  // Smooth transition for toggler icon
  .navbar-toggler {
    transition: all 0.3s ease;
    border: none;
    
    &:focus {
      box-shadow: none;
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }
    
    .navbar-toggler-icon {
      transition: transform 0.3s ease;
    }
    
    &:not(.collapsed) .navbar-toggler-icon {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;
    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;
      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out($white, 0.8);
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
